.evaluaties-scores-section {
  text-align: center;
}
.evaluation-item{
  padding: 30px 0;
}
.evaluation-item .ant-statistic-title{
  font-size: 18px;
}
.evaluation-item .ant-statistic-content{
  font-size: 38px;
}
.average-score-item{
  background-color: #1890ff;
  height: 300px;
  text-align: center;
  color: #fff;
}
.average-score-item .bg-white{
  background-color: #fff;
}
.evaluaties-score-number{
  font-size: 55px;
  color: #fff;
}