.main-card {
    margin: 0px;
    padding: 0px;
}

.card {
    min-width: 300px;
}

.modal-row {
    margin: 0px 0px 20px 0px;
}

.breadcrumb {
    margin: 0px 0px 20px 0px;
}

.logo-row {
    padding: 20px 40px 20px 40px;
    height: 200px;
    min-width: 200px;
}

.company-details {
    margin: 10px 0px 0px 0px;
}
.card-height{
  min-height: 350px;
  max-height: 400px;
}