@import '~antd/dist/antd.css';

body {
  background-color: rgb(240, 242, 245);
}

#root {
  padding: 0px 0px 20px 0px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.search-bar {
  max-width: 500px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}